# .editorconfig
# VSCode의 extension 에서 'EditorConfig for VSCode' 를 반드시 설치해주세요!
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
